<div class="container">
  <div [hidden]="submitted">
    <h1>Customer Form</h1>
    <form (ngSubmit) = "onSubmit()" #customerForm="ngForm">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName"
            required
            [(ngModel)]="model.firstName" name="firstName"
            #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
              Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName"
            required
            [(ngModel)]="model.lastName" name="lastName">
      </div>

      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" class="form-control" id="address"
            required
            [(ngModel)]="model.address" name="address">
      </div>

      <div class="form-group">
        <label for="city">City</label>
        <select class="form-control" id="city"
            required
            [(ngModel)]="model.city" name="city">
          <option *ngFor="let cit of cities" [value]="cit">{{cit}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="state">State</label>
        <select class="form-control" id="state"
            required
            [(ngModel)]="model.state" name="state">>
          <option *ngFor="let sta of states" [value]="sta">{{sta}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="zip">Zip</label>
        <input type="text" class="form-control" id="zip"
            required
            [(ngModel)]="model.zip" name="zip">
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!customerForm.form.valid">Submit</button>
      <button type="button" class="btn btn-default" (click)="newCustomer(); customerForm.reset()">New Customer</button>

    </form>
  </div>
  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">First Name:</div>
      <div class="col-xs-9 pull-left">{{model.firstName}}</div>
    </div><br>
    <div class="row">
      <div class="col-xs-3">Last Name:</div>
      <div class="col-xs-9 pull-left">{{model.lastName}}</div>
    </div><br>
    <div class="row">
      <div class="col-xs-3">Address:</div>
      <div class="col-xs-9 pull-left">{{model.address}}</div>
    </div><br>
    <div class="row">
      <div class="col-xs-3">City:</div>
      <div class="col-xs-9 pull-left">{{model.city}}</div>
    </div><br>
    <div class="row">
      <div class="col-xs-3">State:</div>
      <div class="col-xs-9 pull-left">{{model.state}}</div>
    </div><br>
    <div class="row">
      <div class="col-xs-3">Zip:</div>
      <div class="col-xs-9 pull-left">{{model.zip}}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
</div>
